<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="KhTracker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1"/>
    </startup>
    <userSettings>
        <KhTracker.Properties.Settings>
            <setting name="PromiseCharm" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AnsemReports" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Abilities" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TornPages" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FinalForm" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Simulated" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HundredAcre" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Atlantica" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Cure" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SoraHeart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>570</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>880</value>
            </setting>
            <setting name="DragDrop" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WorldProgress" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TopMost" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FormsGrowth" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MinWorld" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OldWorld" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MinCheck" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OldCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MinProg" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OldProg" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MinNum" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OldNum" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MainBG" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CustomIcons" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SeedHash" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GhostItem" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoDetect" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Level1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Level50" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Level99" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckCount" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GhostMath" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WorldLevel1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WorldLevel50" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WorldLevel99" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NextLevelCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WorldVisitLock" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Puzzle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Synth" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DeathCounter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Legacy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AntiForm" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExtraChecks" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Drives" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TwilightTown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HollowBastion" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BeastCastle" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Olympus" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Agrabah" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LandofDragons" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DisneyCastle" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PrideLands" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PortRoyal" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HalloweenTown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SpaceParanoids" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TWTNW" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ColorHints" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NewWorldLayout" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OldWorldLayout" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoSaveProgress" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WorldHighlight" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UsingProgressionHints" serializeAs="String">
                <value>False</value>
            </setting>
        </KhTracker.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
