<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KhTracker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <KhTracker.Properties.Settings>
            <setting name="PromiseCharm" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AnsemReports" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Abilities" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TornPages" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FinalForm" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Simulated" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HundredAcre" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Atlantica" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Cure" serializeAs="String">
                <value>True</value>
            </setting>
        </KhTracker.Properties.Settings>
    </userSettings>
</configuration>